<!DOCTYPE html>
<html lang="en">
    <head>
      <meta chardset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> LOPEZ - DISTRIBUIDOR MAYORISTA FERRETERO - OFERTAS ESPECIALES </title>
      <link rel="stylesheet" href="../Assets/css/estilos.css">
      <link rel = "preconnect" href = "https://fonts.gstatic.com">
      <link href = "https://fonts.googleapis.com/css2? family = Roboto: wght @ 100 & display = swap" rel = "hoja de estilo">
      <link rel="stylesheet" href="../Assets/css/bootstrap.min.css"> 
    </head>
    <body class="bodycat">
      <div class="galeria">
           <h1>Productos destacados</h1>
           <div class="linea"></div>
           <div class="contenedor-imagenes">
                <div class="imagen">
                    <img src="../Img/Galeria/balde.jpg" alt="">;
                    <div class="overlay">
                         <h3>Balde Plast.Fieltret</h3>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../Img/Galeria/bastidor.jpg" alt="">;
                    <div class="overlay">
                         <h3>Bastidores</h3>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../Img/Galeria/caja.jpg" alt="">;
                    <div class="overlay">
                         <h3>Caja metalica</h3>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../Img/Galeria/cinta.jpg" alt="">;
                    <div class="overlay">
                         <h3>Cinta Aisladora</h3>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../Img/Galeria/fratacho.jpg" alt="">;
                    <div class="overlay">
                         <h3>Fratachos</h3>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../Img/Galeria/llave.jpg" alt="">;
                    <div class="overlay">
                         <h3>Llaves exteriores</h3>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../Img/Galeria/pintura.jpg" alt="">;
                    <div class="overlay">
                         <h3>Pinturas</h3>
                    </div>
                </div>
                <div class="imagen">
                    <img src="../Img/Galeria/pincel.jpg" alt="">;
                    <div class="overlay">
                         <h3>Pinceles</h3>
                    </div>
                </div>
                <div class="imagen">
                  <img src="../Img/Galeria/cable.jpg" alt="">;
                  <div class="overlay">
                         <h3>Cables</h3>
                    </div>
              </div>
           </div>
      </div>
      <br><br><br>
      <h1 class="tpBold">OFERTA ESPECIAL</h1>
      <br>
      <img src="../Img/Oferta.jpg" alt="Imagen de escritorio">
      <hr>
      <br>
      <h2 class="tpBold align=center">Necesitas Flete?</h2>
      <br><br>
      <iframe src="https://www.mudanza.com.ar/empresas/fletes-argentina"  width="980" height="400" margin-left="auto" frameborder="0" allowfullscreen="allowfullscreen">
      </iframe>
      <a class="btn btn-primary" href="../index.html" role="button">Volver</a>
      
   </body>
   <!--aqui agrego mi js con el prompt y las funciones-->
   <script src="../Assets/Js/main.js"></script>
   <!--aqui agrego mi js con el el objeto-->
   <script src="../Assets/Js/mainobj.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="../Assets/js/bootstrap.min.js"></script>
</html>