<!DOCTYPE html>
<html lang="en">
    <head>
      <meta chardset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> LOPEZ - DISTRIBUIDOR MAYORISTA FERRETERO - OFERTAS ESPECIALES </title>
      <link rel="stylesheet" href="../Assets/css/estilos.css">
      <link rel = "preconnect" href = "https://fonts.gstatic.com">
      <link href = "https://fonts.googleapis.com/css2? family = Roboto: wght @ 100 & display = swap" rel = "hoja de estilo">
      <link rel="stylesheet" href="../Assets/css/bootstrap.min.css"> 
    </head>
    <body class="fondoColor">
      
      
      <br>
      <h1 class="tpBold align=center">OFERTA ESPECIAL</h1>
      <br>
      <img src="../Img/Oferta.jpg" alt="Imagen de escritorio">
      <hr>
      <br>
      <h2 class="tpBold align=center">Necesitas Flete?</h2>
      <div class="col-md-5" style="display: table; margin: 0 auto;">
        <iframe src="https://www.mudanza.com.ar/empresas/fletes-argentina" width="500" height="400" align="middle" margin="auto" frameborder="0" allowfullscreen="allowfullscreen">
        </iframe>
      </div>
      <br>
      <a class="btn btn-primary" href="../index.html" role="button">Volver</a>
         
   </body>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="../Assets/js/bootstrap.min.js"></script>
</html>