<!DOCTYPE html>
<html>

   <head>
      <meta chardset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> LOPEZ - DISTRIBUIDOR MAYORISTA FERRETERO - QUIENES SOMOS </title>
      <link rel="stylesheet" href="../Assets/css/estilos.css">
      <link rel = "preconnect" href = "https://fonts.gstatic.com">
      <link href = "https://fonts.googleapis.com/css2? family = Roboto: wght @ 100 & display = swap" rel = "hoja de estilo">
      <link rel="stylesheet" href="../Assets/css/bootstrap.min.css"> 
   </head>
   
   <body>
      <!--Titulo y textos en diferentes contenedores-->
      <div class="container-fluid Color-Container-1">
         <div class="container text-center py-5">
            <h1 >QUIENES SOMOS</h1>
         </div>
         <div class="container text-justify py-5">
            <P class="tp text-sm-justify text-md-justify text-lg-justify text-xl-justify">
               Con más de 10 años de trayectoria en el mercado, nos adaptamos a los tiempos que corren brindando al clientela posibilidad de acceder de manera rapida y sencilla a un amplio catalogo de productos.
            </P>   
            <p class="tpBold text-sm-center text-md-center text-lg-center text-xl-center text-uppercase m-3 p-3">
               Con la confiabilidad de siempre, en este nuevo modelo digital, estamos para servirle.
            </P>
         </div>    
      </div>
      <br>
      <br>
      <!--Boton Volver-->
      <a class="btn btn-primary" href="../index.html" role="button">Volver</a>
   </body>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="../Assets/js/bootstrap.min.js"></script>
</html>