<!DOCTYPE html>
<html>
   <head>
      <meta chardset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> LOPEZ - DISTRIBUIDOR MAYORISTA FERRETERO - LINEA DE PRODUCTOS </title>
      <link rel="stylesheet" href="../Assets/css/estilos.css">
      <link rel = "preconnect" href = "https://fonts.gstatic.com">
      <link href = "https://fonts.googleapis.com/css2? family = Roboto: wght @ 100 & display = swap" rel = "hoja de estilo">
      <link rel="stylesheet" href="../Assets/css/bootstrap.min.css"> 
   </head>
   
   <body class="fondoColor">
    
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
           <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
           <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
           <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
           <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active estilo">
               <img src="../Img/ImgConstruccion.png" class="d-block w-100" alt="Imagen0">
            </div>
            <div class="carousel-item estilo">
               <img src="../Img/ImgSanitarios.png" class="d-block w-100" alt="Imagen1">
           </div>
            <div class="carousel-item estilo">
               <img src="../Img/ImgGas.png" class="d-block w-100" alt="Imagen2">
            </div>
            <div class="carousel-item estilo">
               <img src="../Img/ImgElectricidad.png" class="d-block w-100" alt="Imagen3">
            </div>
            <div class="carousel-item estilo">
               <img src="../Img/ImgPinturas.png" class="d-block w-100" alt="Imagen5">
            </div>
            <div class="carousel-item estilo">
               <img src="../Img/ImgLimpieza.png" class="d-block w-100" alt="Imagen5">
            </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon TextoNegro" aria-hidden="true"></span>
            <span class="sr-only TextoNegro">Anterior</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon ColorIcono" aria-hidden="true"></span>
            <span class="sr-only TextoNegro">Siguiente</span>
         </a>
      </div>

      <!--Boton Volver-->
      <a class="btn btn-primary" href="../index.html" role="button">Volver</a>
         
   </body>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="../Assets/js/bootstrap.min.js"></script>
</html>