/*Variables*/
.vista {
  color: #ce0808;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0; }

.containerIndex {
  width: 85%;
  max-width: 850px;
  margin: 0 auto; }

.containerGen {
  padding: 10 40 10 40;
  text-align: center;
  width: 100%;
  height: 350;
  margin: 10px auto;
  color: #ce0808; }

.containerImg {
  padding: 10 40 10 40;
  width: 100%;
  height: 350px;
  margin: 10px auto; }

.h2Index {
  font-size: 2rem;
  line-height: 1.3em;
  text-align: center; }

.LogoNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navigation ul li {
  display: inline-block; }

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear; }

.navigation ul li a:hover {
  background: #4a4a4a;
  color: azure;
  text-decoration: none;
  border-radius: 5px; }

.header {
  background-color: #333;
  color: azure;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0; }

.header a {
  color: azure;
  text-decoration: none; }

.mainIndex {
  padding-top: 10rem; }

.menuIcon {
  display: none; }

@media only screen and (max-width: 770px) {
  .menuIcon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem; }
  .navigation {
    width: 100%;
    margin-top: 1rem; }
  .navigation ul {
    display: none; }
  .navigation ul.show {
    display: block; }
  .navigation ul li {
    display: block; }
  .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear; }
  .navigation ul li a:hover {
    background: #4a4a4a;
    color: azure;
    text-decoration: none;
    border-radius: 5px; } }

.Color-Container-1 {
  background-color: #e4405f; }

.Color-Container-2 {
  background-color: #ce0808; }

.Color-Container-3 {
  background-color: azure; }

.TextoNegro {
  color: black; }

.AltoCol {
  height: 20px; }

.Derecha {
  text-align: right;
  justify-content: right; }

.centrar {
  margin-left: auto;
  margin-right: auto;
  display: block; }

li {
  color: azure; }

td {
  color: crimson; }

p {
  color: azure;
  font-family: 'Roboto', sans-serif; }

div div label {
  color: #144b0d; }

div div input {
  color: #12184d; }

.bordesRedondeados {
  padding: 30px 35px 20px 35px;
  margin: 30px 35px 20px 55px;
  background-color: #b9e7d8;
  width: 900px;
  height: 500px;
  border: 15px;
  border-color: #1a471a;
  border-radius: 25px; }
  .bordesRedondeados__container {
    display: grid;
    color: crimson;
    font-size: large;
    background-color: cadetblue;
    text-align: center; }
  .bordesRedondeados__container1 {
    padding: 130px 70px 20px 35px;
    margin: 30px 35px 20px 55px;
    display: grid;
    font-size: large;
    background-color: cadetblue;
    text-align: center; }
    .bordesRedondeados__container1--tp {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      color: darkgreen; }
    .bordesRedondeados__container1--tp1 {
      font-family: 'Times New Roman', Times, serif;
      font-weight: 200;
      font-size: large;
      color: #3e4ea8; }
    .bordesRedondeados__container1--tp2 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: larger;
      color: #156e58; }

.imagen {
  margin: 20px;
  padding: 20px; }

.tpBold {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  align-content: center; }

.tpBoldIndex {
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  color: azure;
  font-size: 0.8rem;
  line-height: 1em; }

ol {
  list-style-type: disc; }

.fondoColor {
  background-color: azure; }

.espacioPalabra {
  word-spacing: 100px; }

.containerFooter {
  background: #333;
  padding: 3rem 0;
  margin: 20px auto;
  text-align: right;
  width: 100%;
  height: 180px;
  margin: 10px auto;
  color: crimson; }

.redes-container {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center; }

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 20px;
  text-align: center; }

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: .2s; }

.redes-container ul li a:hover {
  transform: translatey(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none; }

.redes-container ul li .facebook:hover {
  background: #3b5999; }

.redes-container ul li .instagram:hover {
  background: #e4405f; }

.redes-container ul li .twitter:hover {
  background: #55acee; }

.redes-container ul li .linkedin:hover {
  background: #007785; }

.galeria {
  font-family: 'open sans'; }

.bodycat {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300; }

.linea {
  border-top: 5px solid #0077c0;
  margin-bottom: 40px; }

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px; }

.contenedor-imagenes .imagen {
  width: 28%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 118, 192, 0.781);
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  overflow: hidden; }

.overlay h3 {
  color: azure;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer; }

@media screen and (max-width: 1000px) {
  .contenedor-imagenes {
    width: 95%; } }

@media screen and (max-width: 700px) {
  .contenedor-imagenes {
    width: 90%; }
  .contenedor-imagenes .imagen {
    width: 48%; } }

@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px; }
  .contenedor-imagenes {
    width: 98%; }
  .contenedor-imagenes .imagen {
    width: 80%; } }
